html {
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-size: 12px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  
  body, input {
    font: menu;
    font-size: 12px;
  }
  
  body > div {
    height: 100%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }
  
  .container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
  }
  
  textarea, input, div, button { outline: none; }